pom/.project
pom/.settings/

web/.project
web/.settings/
web/.classpath
web/target/

service/.project
service/.settings/
service/.classpath
service/target/

persistence/.project
persistence/.settings/
persistence/.classpath
persistence/target/

domain/.project
domain/.settings/
domain/.classpath
domain/target/

